.no-recommendations-text {
    margin-left: 2rem;
}

.recommendations-heading {
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
}

.recommendations-wrapper {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem;
    overflow-x: scroll;
}

.feed-view-recommendations-component {
    overflow-x: auto;
}

.recommendations-component {
    max-width: 40rem;
    overflow-x: auto;
}