.search-loading-spinner {
    display: flex;
    justify-content: center;
}

.load-more-button {
    font-size: 1.5rem;
}

.profile-details-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.load-more-button-wrapper {
    margin: 2rem;
}

.search-page {
    display: flex;
    flex-direction: column;
}