.post-select {
    width: 20%;
    margin: 1rem;
}

.post-button {
    width: 20%;
}

.post-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    align-items: center;
}

.postcard-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}