.profileheader-wrapper {
    display: flex;
    flex-direction: column;
}


.feedpost-component {
    display: flex;
    background-color: lightgray;
    width: 60%;
    border: solid #000;
    border-width: 0.3rem;
}