.song-info {
    font-size: 2rem;
}

.song-info-row {
    flex: 0.5;
    align-items: center;
    display: flex;
    justify-content: start;
}

.play-song-wrapper {
    flex: 0.25;
    /* TODO - width and height */
    margin: 2rem;
}

.song-info-wrapper {
    flex: 0.75;
    display: flex;
    flex-direction: column;

    /* added 6/6/ for search results */
    width: 6rem;
}

.songheader-component {
    display: flex;
    width: auto;
    height: auto;
    background-color: lightgray;
}