.song-info {
    font-size: 2rem;
    text-align: start;
}

.song-info-row {
    flex: 0.5;
    align-items: center;
    display: flex;
    justify-content: start;
}

.songheader-playing-picture {
    width: 5rem;
    height: 5rem;
}

.play-song-wrapper {
    flex: 0.25;
    margin: 2rem;
}

.song-info-wrapper {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.songheader-component-songheader {
    display: flex;
    width: 30rem;
    height: 10rem;
    background-color: lightgray;
}
.songheader-border {
    border: solid #000;
    border-width: 0.3rem;
}