.load-more-button {
    font-size: 1.5rem;
}

.searchresults-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

.load-more-button-wrapper {
    margin: 2rem;
}

.searchresults-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}