.search-button {
    text-decoration: underline;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
}

.is-active-search {
    text-decoration: underline;
    background-color: darkcyan;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
}

.search-input {
    width: 80%;
    height: 2rem;
}

.searchbar-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}