.is-active {
    text-decoration: underline;
    background-color: darkcyan;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

button {
    text-decoration: underline;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

.description-input {
    width: 20rem;
    height: 5rem;
    margin-bottom: 3rem;
}

.group-select-wrapper {
    width: 10rem;
    height: 5rem;
}

.group-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.groupcard-component {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    max-height: 30rem;
    align-items: center;
}
